body{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -ms-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}
body,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
.fr{
  float: right;
}
.header{
  position: fixed; 
  z-index: 70;
  height: 2.093333rem /* 157/75 */;
  top: 0;
  left: 0;
  right: 0;
  background: url(../img/header-bg-h5.png) center center;
  background-size: 100% 100%;
}
.logo{
  display: block;
  margin: .533333rem /* 40/75 */ auto .533333rem /* 40/75 */;
  color: #fff;
  background: url(../img/logo-h5.png) no-repeat center center;
  background-size: 100% 100%;
  width: 5.053333rem /* 379/75 */;
  height: .8rem /* 60/75 */;
  text-indent: -9999px;
  overflow: hidden;
}

.caption{
  text-align: center;
  /* border-bottom: 1px solid #f00 ; */
  line-height: 1.5;
  height: .4rem /* 30/75 */;
  font-size: 0;
}
.caption img{
  width: 5.306667rem /* 398/75 */;
  height: .266667rem /* 20/75 */;
  display: inline-block;
}

.kefu{
  display: inline-block;
  width: 1.12rem /* 84/75 */;
  height: 1.12rem /* 84/75 */;
  margin-bottom: .4rem /* 30/75 */;
  background: url(../img/kefu.png) center center;
  background-size: 100% 100%;
}

.hide{
  display: none!important;
}
#fp-nav.right{
  right: .133333rem /* 10/75 */;
}
#fp-nav ul li a span{
  background-color: #fff;
  border-color: #fff;
  opacity: 0.4;
  width: .106667rem /* 8/75 */;
  height: .106667rem /* 8/75 */;
}
#fp-nav ul li a.active span{
  opacity: 1;
  background-color: #fff;
}
.section {
  text-align: center;
  font: .213333rem "Microsoft Yahei";
  color: #fff;
  background-size: cover;
}
#section0{
  background-image: url(../img/h5_bg1.jpg);
}
#section1{
  background-image: url(../img/h5_bg2.jpg);
}
.links{
  text-align: center;
}
.btn-link{
  font-size: 30px;
  display: inline-block;
  width: 7.813333rem /* 586/75 */;
  height: 2.093333rem /* 157/75 */;
  line-height: 2.093333rem /* 157/75 */;
  text-align: center;
  margin: 0 .4rem /* 30/75 */;
  text-decoration: none;
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
  text-indent: -9999em;
}
.btn-link1{
  background: url(../img/btn-link1-h5.png) center center;
  background-size: 100% 100%;
}
.btn-link2{
  background: url(../img/btn-link2-h5.png) center center;
  background-size: 100% 100%;
}

.banner{  
  width: 9.253333rem /* 694/75 */;
  height: 4.666667rem /* 350/75 */;
  background: url(../img/banner-h5.png) center center;
  background-size: 100% 100%;
  position: relative;
  margin: 0 auto 1.333333rem /* 100/75 */;
  overflow: hidden;
  text-indent: -9999em;
}
.slogon{  
  background-size: 100% 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -9999em;
  margin-bottom: .933333rem /* 70/75 */;
}
.slogon2{
  width: 9.4rem /* 705/75 */;
  height: 1.72rem /* 129/75 */;
  background: url(../img/slogon2-h5.png) center center;
  background-size: 100% 100%;
}
.partner{
  padding: 0 .2rem /* 15/75 */;
  margin: 0;
  position: absolute;
  bottom: 1.333333rem /* 100/75 */;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  box-sizing: border-box;
}
.cards-wrapper{
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 3.066667rem /* 230/75 */;
}
.cards-wrapper::-webkit-scrollbar{
  display: none;
}
.cards-list{
  white-space: nowrap;
  width:28rem /* 2100/75 */;
  height: 3.066667rem /* 230/75 */;
  overflow-y: hidden;
  overflow-x: scroll;
  /* scroll-behavior:smooth;  */
  padding: 0 .4rem /* 30/75 */;
  /* -webkit-overflow-scrolling: touch; */
}

.card{
  float: left;
  position: relative;
  width: 5.333333rem /* 400/75 */;
  height: 3.066667rem /* 230/75 */;
  margin-right: .2rem /* 15/75 */;
  overflow: hidden;
  color: #fff;
  background: url(../img/card-bg-h5.png) center center;
  background-size: 100% 100%;
}
.card:last-child{
  margin-right: 0;
}
.list-box-min{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-box-min .title{
  font-size: .346667rem /* 26/75 */;
  font-weight: 600;
  color: #2BA4FF;
  margin-bottom: .106667rem /* 8/75 */;
}
.list-box-min .txt{
  font-size: .24rem /* 18/75 */;
  color: #2BA4FF;
  margin: 0;
  white-space: normal;
}
.list-box-min .card-icon{
  width: .533333rem /* 40/75 */;
  height: .533333rem /* 40/75 */;
  margin: 0 auto .2rem /* 15/75 */;
}

.download{
  position: fixed;
  height: 1.293333rem /* 97/75 */;
  width: 100%;
  background: #333;
  z-index:9;
  text-align:center;
  color: #f2f2f2;
  bottom: 0;  
  background: url(../img/download-bg-h5.png) center center;
  background-size: 100% 100%;
  display:flex;
  align-items: center;
}
.download .btn-dl{
  height: 100%;
  flex: 1;
}
.btn-dl:nth-child(1){
  background: url(../img/download-item1.png) no-repeat center center;
  background-size: 4.386667rem /* 329/75 */ 1.813333rem /* 136/75 */;
}
.btn-dl:nth-child(2){
  background: url(../img/download-item2.png) no-repeat center center;
  background-size: 4.386667rem /* 329/75 */ 1.813333rem /* 136/75 */;
}

.pop{  
  position: fixed;  
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.mask{
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  z-index: 50;
}
.popup{
  width: 9.333333rem /* 700/75 */;
  height: 6.053333rem /* 454/75 */;
  display: block;
  visibility: visible;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  margin-top: -3.026667rem /* 227/75 */;
  margin-left: -4.666667rem /* 350/75 */;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #CBD8F6 100%);
  border-radius: 7px;
}
.pop-hd {
  position: relative;
  width: 100%;
  text-align: center;
}
.pop-hd .close{
  font-size: .4rem /* 30/75 */;
  position: absolute;
  font-weight: 700;
  right: .2rem /* 15/75 */;
  top: .2rem /* 15/75 */;
  width: .4rem /* 30/75 */;
  height: .4rem /* 30/75 */;
  cursor: pointer;
}
.pop-bd {
  font-family: HYYakuHei-HEW;
  text-align: left;
  padding: 1.2rem /* 90/75 */;
}
.pop-con{
  font-size: .36rem /* 27/75 */;
  color: #253176;
  margin-bottom: .8rem /* 60/75 */;
}
.pop-con:first-child{
  color: #000000;
  font-size: .44rem /* 33/75 */;  
  margin-bottom: .96rem /* 72/75 */;
  font-weight: bold;
}
.pop-con:last-child{
  margin-bottom: 0;
}
.pop-con .qq{
  display: inline-block;
  padding-left: 38px;
}
.pop-con .copy{
  color: #0091FF;
  cursor: pointer;
}
.lady{
  position: absolute;
  left: 50%;
  top: -4rem /* 300/75 */;
  width: 4.773333rem /* 358/75 */;
  height: 4rem /* 300/75 */;
  background: url(../img/lady.png) center center;
  background-size: 100% 100%;
  margin-left: -2.386667rem /* 179/75 */;
}